<br>
<h3> <%= link_to "Your Bucket Lists", user_bucket_lists_path(current_user.id) %> <%= link_to "Create New Bucket List", new_user_bucket_list_path(current_user.id) %> <%= link_to "Highest Rated Movies", highest_rating_path %> <%= link_to "Create New Movie", new_movie_path %> </h3>

<h2>Bucket List Movies</h2>

<% @movies.each do |movie| %>
  <p><%=movie.name%> | <%=movie.genre%> | <%=movie.rating%>
  <%=form_tag(new_bucket_list_movie_path(movie_id: movie.id), method: "get") do %>
  <%= hidden_field_tag 'movie_id', movie.id %>
  <%= submit_tag('Add to Bucket List')%>
  <% end %> </p>
<% end %>
