<br>
<h3> <%= link_to "Your Bucket Lists", user_bucket_lists_path(current_user.id) %> <%= link_to "Create New Bucket List", new_user_bucket_list_path(current_user.id) %></h3>
<h2>Bucket List Movies</h2>

<% @movies.each do |movie| %>
  <p><%=movie.name%> | <%=movie.genre%> | <%=movie.rating%>
  <%=form_tag(bucket_list_movies_path(movie_id: movie.id), method: "post") do %>
  <%= submit_tag('Add to Bucket List')%>
  <% end %> </p>
<% end %>
