<h2> Edit Bucketlist </h2>

<%= form_for ([current_user, @bucket_list])do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <% @bucket_list.inspect %>
  <br />
  <% if @bucket_list.bucket_list_movies.present? %>
    <%= f.fields_for :bucket_list_movies do |b| %>
      <% movie= b.object.movie %>
      <%= movie.name %>
      | Seen?
      <%= b.check_box :seen %>
      <%= b.hidden_field :movie_id %>
      <br/>
    <% end %>
  <% else %>
    No Movies in this Bucket List yet
  <% end %>
  <%= f.submit 'Update Bucket List' %>
<% end %>
