<h2>New Bucket List Form</h2>

<%= form_for([current_user, @bucket_list]) do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <h4> Select Movies to Add:</h4>
  <% @movies.each do |m| %>
    <%= f.label m.name %>
    <%= check_box_tag "bucket_list[movie_ids][]", m.id %>
  <% end %>

  <h4> Create New Movie to Add:</h4>
  <%= f.fields_for(:movies) do |m| %>
    <%= m.label :name %>
    <%= m.text_field :name %><br>
    <%= m.label :genre %>
    <%= m.text_field :genre %><br>
    <%= m.label :rating %>
    <%= m.number_field :rating %><br>
  <% end %>

  <%= f.submit "Create New Bucket List" %>
  <% end %>
